<div class="clicker-container flex-row justify-center align-center">
  <mat-card class="card w-100">
    <mat-card-header class="justify-center">
      <mat-card-title class="card-title text-center">
        Click to win!
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="flex-row">
        <div class="clicker-actions flex-row align-center">
          <button
            name="clicker-btn"
            class="clicker-btn"
            color="accent"
            mat-raised-button
            [disabled]="isGameFinished"
            (click)="isGameStarted ? onClickCount() : playGame()"
          >
            {{ isGameStarted ? 'Click to count' : 'Start game' }}
          </button>
        </div>
        <div
          class="clicker-info text-bold flex-col justify-center align-center"
        >
          <div class="clicker-count flex-col justify-center align-center">
            <span>Clicks made:</span>
            <span class="clicker-count-value">{{ clicksMade }}</span>
          </div>
          <div class="clicker-time flex-col justify-center align-center">
            <span>Time left:</span>
            <span class="clicker-time-value">{{ timeLeft }}</span>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
