<mat-toolbar class="toolbar">
  <div
    class="toolbar-inner container w-100 mx-auto flex-row justify-between
           align-center text-uppercase"
  >
    <div class="logo">
      <a href="" [routerLink]="['/game']">
        <img src="../../../assets/images/logo.png" alt="logo"/>
      </a>
    </div>

    <ul class="toolbar-nav flex-row align-center">
      <li *ngIf="isLoggedIn">
        <a
          href=""
          [routerLink]="['/game']"
          routerLinkActive="nav-active-link"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Game
        </a>
      </li>
      <li>
        <a
          href=""
          [routerLink]="['/rankings']"
          routerLinkActive="nav-active-link"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Rankings
        </a>
      </li>
    </ul>

    <ul class="profile-controls flex-row align-center">
      <li *ngIf="isLoggedIn">
        <div class="user-avatar flex-col justify-center align-center">
          <img
            class="user-avatar-img"
            src="../../../assets/images/user-avatar.png"
            alt="user-avatar"
          />
          <span class="user-avatar-name">{{ user?.name }}</span>
        </div>
      </li>
      <li *ngIf="!isLoggedIn">
        <a href="" [routerLink]="['/login']">Login</a>
      </li>
      <li *ngIf="isLoggedIn">
        <a href="" (click)="onLogout()">Logout</a>
      </li>
    </ul>
  </div>
</mat-toolbar>
