.mat-form-field {
  font-size: 1.3rem;
}

input.mat-input-element {
  color: darkred;
}

.login-actions {
  margin-top: 22px;
}

.login-btn {
  font-size: 1.3rem;
  letter-spacing: 0.13rem;
  min-height: 50px;
  min-width: 150px;
}
