<div class="login-container flex-row justify-center align-center mx-auto">
  <mat-card class="login-card w-100">
    <mat-card-header class="login-card-header justify-center">
      <mat-card-title class="login-card-title text-center">
        Authorization
      </mat-card-title>
      <mat-card-subtitle class="login-card-subtitle text-center">
        Enter your name:
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <app-login-form></app-login-form>
    </mat-card-content>
  </mat-card>
</div>
